[submodule "huggingface/models/resnet50"]
	path = huggingface/models/resnet50
	url = https://huggingface.co/inaccel/resnet50
[submodule "huggingface/models/yolov3_adas_pruned_0_9"]
	path = huggingface/models/yolov3_adas_pruned_0_9
	url = https://huggingface.co/inaccel/yolov3_adas_pruned_0_9
[submodule "huggingface/spaces/inception_v1_tf"]
	path = huggingface/spaces/inception_v1_tf
	url = https://huggingface.co/spaces/inaccel/inception_v1_tf
[submodule "huggingface/spaces/resnet50"]
	path = huggingface/spaces/resnet50
	url = https://huggingface.co/spaces/inaccel/resnet50
[submodule "huggingface/spaces/yolov3_adas_pruned_0_9"]
	path = huggingface/spaces/yolov3_adas_pruned_0_9
	url = https://huggingface.co/spaces/inaccel/yolov3_adas_pruned_0_9
[submodule "spec"]
	path = spec
	url = https://github.com/inaccel/runtime-spec
